.products-slick {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .product {
    scroll-snap-align: start;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .product-img img.category-image {
    width: 200px; /* Adjust the desired width */
    height: 200px; /* Adjust the desired height */
    object-fit: cover;
  }
  